<!Doctype html>
<html>
    <head>
        <title>Tik-Tok-Toe</title>
        <style>
        table{
             margin:auto;
            padding:10px;
            border-collapse:collapse;
            background-color:red;
        }
            td{
                border:1px solid black;
                width:150px;
                height:150px;
                font-size:30px;
                text-align:center;


            }
        </style>
    </head>
    <body>
        <table>
            {% for rows in range(3) %}
               <tr>
                   {% for column in range(3) %}
                   <td>
                       {{game[rows][column]}}
                   </td>
                   {% endfor %}
               </tr>
            {% endfor %}
        </table>

    </body>>
</html>