<!Doctype html>
<html>
    <head>
        <title>Tik-Tok-Toe</title>
    </head>
    <body>
        <table>
            {% for rows in range(3) %}
               <tr>
                   {% for column in range(3) %}
                   <td>
                       {% if game[rows][column]%}
                           {{game[rows][column]}}
                        {% else %}
                             <a href="{{url_for('play',row=rows,column=column)}}">play {{turn}}</a>
                   </td>
                   {% endfor %}
               </tr>
            {% endfor %}
        </table>
       
    </body>
</html>